<!DOCTYPE html>
<html>
    <head>
        <title>WCP</title>
    </head>

    <body>
        <h1>Register with WCP</h1>

        {% if registered %}
        WCP says: <strong>thank you for registering!</strong>
        <a href="/portal/">Return to the homepage.</a><br />
        {% else %}
        WCP says: <strong>register here!</strong><br />

        <form id="user_form" method="post" action="/portal/register/"
            enctype="multipart/form-data">

            {% csrf_token %}

            {{ user_form.as_p }}

            <input type="submit" name="submit" value="Register" />
        </form>
        {% endif %}
    </body>
</html>

